// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(fonts/source-sans-pro/source-sans-pro.css?ver=4.1.0);
@import url(fonts/awesome-fontello/awesome-fontello.css?ver=4.1.0);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fffdf7;
$backgroundFooterColor: #222222;
$backgroundHeaderColor: #593662;

$mainColor: #301313;
$headingColor: #000000;
$footerColor: #ffffff;
$footerColorHover: #adadad;
$headerColor: #ffffff;
$headerColorHover: #fffdf7;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #9d4040;
$linkColorHover: #da2a2a;
$selectionBackgroundColor: #9d4040;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

a[rel*='external']::after {
	font-family: awesome-fontello, 'Source Sans Pro', Helvetica, sans-serif;
	font-size: 16px;
	content: "\e82f";
	padding-left: 5px;
	speak: none;
}

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal .controls {
	z-index: 12;
}

.hidden {
	display: none;
}

.reveal .slide-number {
	background-color: $backgroundFooterColor;
	color: $footerColor;
}

.reveal kbd {
	background-color: #444;
	border-top: 3px solid #aaa;
	border-left: 3px solid #999;
	border-right: 3px solid #333;
	border-bottom: 4px solid #222;
	border-radius: 4px;
	color: whitesmoke;
	display: inline-block;
	font-size: .8em;
	line-height: 100%;
	margin: 0 .1em;
	padding: .2em 0.5em;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $backgroundHeaderColor;
	color: $headerColor;
	padding: 0 12px;
	font-family: $mainFont;
	font-size: 0.9em;
}
#header > img {
	float: left;
	max-height: 50px;
	border: 0;
	padding: 0 30px 0 0;
}
#header > .header {
	z-index: 12;
	position: relative;
	background-color: $backgroundHeaderColor;
}
#header > a,
#header > a:visited {
	color: $headerColor;
}
#header > a:hover {
	color: $headerColorHover;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $backgroundFooterColor;
	color: $footerColor;
	padding: 0 12px;
	line-height: 50px;
	font-family: $mainFont;
	font-size: 0.9em;
}
#footer > .footer {
	z-index: 12;
	position: relative;
	background-color: $backgroundFooterColor;
}
#footer > a,
#footer > a:visited,
#footer > span > a,
#footer > span > a:visited {
	color: $footerColor;
}
#footer > a:hover,
#footer > span > a:hover,
#footer > .sep {
	color: $footerColorHover;
}
#footer > a,
#footer > span {
	padding: 0 10px;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
// npm run build -- css-themes